.venv/
results/
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
env/
env.bak/
venv/
venv.bak/
ENV/
ENV.bak/
env3/
venv3/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
pip-wheel-metadata/
*.egg-info/
dist/
build/
.eggs/
*.log
.ipynb_checkpoints/